/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

h3 {
  color: white;
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}


.flex-container {
  display: flex;
}

/* Regole header */

header {
  height: 420px;
  background-color: rgb(180, 208, 231);
}

#main-nav {
  height: 5%;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

#left-nav {
  padding: 10px;
  width: 20%;
}

#right-nav {
  justify-content: flex-end;
  padding: 10px;
  width: 20%;
}

#logo {
  margin-right: 15px;
}

.link {
  justify-content: space-between;
  flex-basis: 350px;
}

#jumbotron {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.center {
  width: 60%;
  margin: 0 auto;
}

.align-right  img {
  float: right;
  width: 500px;
  margin-left: 15px;
}

#info {
  width: 50%;
  padding-bottom: 300px;
}

#info-text {
  margin-bottom: 20px;
}


/* Regole footer */

footer {
  height: 300px;
  background-color: black;
  padding-top: 20px;
}

.row {
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.column:first-child li:last-child{
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

#language {
  color: white;
}



/* DEBUG */

header {
  /* background-color: blue; */
}

#left-nav {
  /* width: 30%; */
  background-color: yellowgreen;
  border: 1px solid black;
}

#right-nav {
  /* width: 30%; */
  background-color: yellowgreen;
  border: 1px solid black;
}

#jumbotron {
  /* background-color: violet; */
}

main{
  height: 300px;
  background-color: brown;
}


footer {
  /* background-color: blueviolet; */
}